numpy==1.21.6
Pillow==9.5.0
scipy==1.7.3
pyyaml==6.0.1
tqdm==4.66.1
trimesh==3.23.5
pyrender==0.1.45
pyglet==1.5.27
pyntcloud==0.3.1
pybind11==2.11.1
numba==0.56.4
llvmlite==0.39.1
scikit-image==0.18.3
opencv-python==4.7.0.72
open3d==0.15.2
